.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Hundo.slnx/FileContentIndex/6998699c-c791-473f-b1fb-71408534722d.vsidx
.vs/Hundo.slnx/v18/.wsuo
.vs/Hundo.slnx/v18/DocumentLayout.json
.vscode/settings.json
